<div class="wrapper" [style.height.px]="height">
  <app-header></app-header>
  <div class="card-row-wrapper" trackScroll (setScrollValue)="getScrollValue($event)">
    <mat-card *ngFor="let book of bookCards">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.username }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{ book.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Trade</button>
      </mat-card-actions>
    </mat-card>
    <mat-slider></mat-slider>
  </div>
<!--  <mat-grid-list cols="4" rowHeight="100px">-->
<!--    <mat-grid-tile-->
<!--      *ngFor="let book of bookCards"-->
<!--      [colspan]="1"-->
<!--      [rowspan]="1"-->
<!--      [style.background]="'red'"-->
<!--      class="example-card">-->
<!--      <mat-card >-->
<!--        <mat-card-header>-->
<!--          <div mat-card-avatar class="example-header-image"></div>-->
<!--          <mat-card-title>book.title</mat-card-title>-->
<!--          <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--        <mat-card-content>-->
<!--          <p>-->
<!--            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--            bred for hunting.-->
<!--          </p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button mat-button>TRADE</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
</div>
