<div class="form-container auth-form-container">
  <div class="formular">
    <div class="auth-img">
      <img
        class="auth-image"
        src="http://localhost:3000/images/login-pic.jpg"
        alt="SignUp Image"
      />
    </div>
    <form class="inputs" [formGroup]="form">
      <h1>SignUp Form</h1>
      <mat-form-field appearance="fill">
        <mat-label>Enter your E-mail</mat-label>
        <input
          matInput
          type="text"
          name="signup-input-email"
          formControlName="email"
          placeholder="E-mail"
        />
        <mat-error *ngIf="form.get('email')?.errors?.required"
          >Please enter your e-mail</mat-error
        >
        <mat-error *ngIf="form.get('email')?.errors?.email"
          >The e-mail is not valid</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-hint
          >Your password must contain at least one lowercase, one uppercase, and
          one digit</mat-hint
        >
        <mat-error *ngIf="form.get('password')?.errors?.required"
          >Please enter your password</mat-error
        >
        <mat-error *ngIf="form.get('password')?.errors?.minlength"
          >The password is not long enough</mat-error
        >
        <mat-error *ngIf="form.get('password')?.errors?.strong"
          >The password is not strong enough</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('confirmPassword')?.errors?.required"
          >Please confirm your password</mat-error
        >
        <mat-error *ngIf="form.get('confirmPassword')?.errors?.isMatching"
          >The passwords don't match</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="phone-number">
        <mat-label>Enter your Phone Number</mat-label>
        <input
          matInput
          maxlength="10"
          type="tel"
          formControlName="phoneNumber"
          placeholder="Phone Number"
        />
        <mat-hint
          >Your phone number should be like: 07********, +407********,
          +407**.***.***</mat-hint
        >
        <mat-error *ngIf="form.get('phoneNumber')?.errors?.required"
          >Please enter your phone number</mat-error
        >
        <mat-error *ngIf="form.get('phoneNumber')?.errors?.pattern"
          >The phone number is not correct</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your Location</mat-label>
        <input
          type="text"
          formControlName="location"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" (opened)="openChange()">
          <cdk-virtual-scroll-viewport
            [ngStyle]="{ height: height }"
            itemSize="25"
          >
            <mat-option
              *cdkVirtualFor="let option of filteredLocations"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('location')?.errors?.required"
          >Please select a location</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onSignUp()"
        [disabled]="signUpButtonDisabled"
      >
        Sign up
      </button>
      <a
        class="sign-up-link"
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        >Already have an account ? Sign in</a
      >
    </form>
  </div>
</div>
