.form-container {
  .formular {
    .inputs {
      .email-form {
        margin-bottom: 10px;
      }

      .password-form {
        margin-bottom: 30px;
      }

      .sign-up-link {
        margin-top: 30px;
      }
    }
  }

  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

