<h1 mat-dialog-title>{{data.message}}</h1>
<mat-dialog-content *ngIf="data.isHomepage">
  <div class="card">
    <div class="img-avatar">
      <!--     round img -->
    </div>
    <div class="card-text">
      <div class="portada"></div>
      <div class="title-total">
        <div class="title"><span class="user-data">{{ book.username }}</span> from <span class="user-data">{{ book.location }}</span></div>
        <h2>{{ book.title }}</h2>
        <div class="desc">{{ book.description }}</div>
        <div class="actions">
          <label>Select delivery method</label>
          <ng-container *ngIf="loggedInUser.location !== book.location">
            <mat-radio-group [(ngModel)]="deliveryMethod">
              <mat-radio-button class="example-margin" value="courier">Courier</mat-radio-button>
              <mat-radio-button class="example-margin" value="foot">On Foot</mat-radio-button>
            </mat-radio-group>
          </ng-container>
          <ng-container *ngIf="loggedInUser.location === book.location">
            <mat-checkbox
              [checked]="true">
              Courier
            </mat-checkbox>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <div class="buttons-wrapper">
    <button mat-flat-button color="warn" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>{{ data.actionButton }}</button>
  </div>
</div>
