<div class="trade-modal-header">
  <h1 mat-dialog-title>{{ data.message }}</h1>
  <span class="material-icons trade-cancel-icon" mat-dialog-close>
    cancel
  </span>
</div>
<mat-dialog-content *ngIf="data.isHomepage">
  <div class="card">
    <div class="img-avatar">
      <!--     round img -->
    </div>
    <div class="card-text">
      <img class="book-image" [src]="book.imagePath" [alt]="book.title" />
      <div class="title-total">
        <div class="title">
          <p>
            Book added by
            <span class="user-data">{{ book.username }}</span> from
            <span class="user-data">{{ book.location }}</span>
          </p>
        </div>
        <h2>Title: {{ book.title }}</h2>
        <p class="book-details">
          <span class="trading-inline">Description:</span>
          {{ book.description }}
        </p>
        <p class="book-details-preferences" *ngIf="preferences">Preferences:</p>
        <p class="book-details" *ngIf="book.tradingPreferenceAuthor">
          <span class="trading-inline">Trading authors:</span>
          {{ book.tradingPreferenceAuthor }}
        </p>
        <p class="book-details" *ngIf="book.tradingPreferenceBook">
          <span class="trading-inline">Trading books:</span>
          {{ book.tradingPreferenceBook }}
        </p>
        <p class="book-details" *ngIf="book.tradingPreferenceDescription">
          <span class="trading-inline">Trading description:</span>
          {{ book.tradingPreferenceDescription }}
        </p>
        <p class="book-details" *ngIf="book.tradingPreferenceGenre">
          <span class="trading-inline">Trading genres:</span>
          {{ book.tradingPreferenceGenre }}
        </p>
        <div class="actions">
          <p>Choose an option for delivery</p>
          <mat-radio-group color="primary" [required]="true">
            <div class="delivery-section">
              <p>Different town</p>
              <mat-radio-button
                [checked]="false"
                value="differentTownConfig-courier"
                (change)="updateDeliveryMethod($event)"
              >
                Courier
              </mat-radio-button>
            </div>
            <div class="delivery-section">
              <p>Same town</p>
              <mat-radio-button
                [checked]="false"
                value="sameTownConfig-courier"
                (change)="updateDeliveryMethod($event)"
              >
                Courier
              </mat-radio-button>
              <mat-radio-button
                [checked]="false"
                value="sameTownConfig-onFoot"
                (change)="updateDeliveryMethod($event)"
              >
                Personal delivery
              </mat-radio-button>
            </div>
          </mat-radio-group>
          <mat-form-field appearance="fill">
            <mat-label>Select book for trade</mat-label>
            <mat-select [required]="true" [(ngModel)]="selectedBook">
              <mat-option *ngFor="let book of userBooks" [value]="book">
                {{ book.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <div class="buttons-wrapper">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      {{ data.actionButton }}
    </button>
  </div>
</div>
