mat-toolbar {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.spacer {
  flex: 1 1 auto;
}

.header_icon {
  margin-right: 10px;
}

.homepage_icon {
  flex: 0.15;
  margin-left: 20px;
}
