table,
mat-paginator {
  width: 90%;
  margin-left: 5%;
}

.header-text {
  font-size: 16px;
  line-height: 5;
}

.mat-header-row {
  background-color: #d4b5a5;
}

.filter {
  font-size: 14px;
  width: 20%;
}

.book-list-wrapper {
  height: 84vh;
  margin-top: 20px;
}

.top-table-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.top-table-buttons {
  height: 38px;
  margin-left: 20px;
}

.no-filtered-data {
  background-color: #cd4c4c;
  color: white;
  width: 50%;
  margin-left: 23%;
  padding: 19px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.post-image img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
