<div class="table-content">
  <div class="table-title-wrapper">
    <span class="table-title">My books</span>
    <span class="spacer"></span>

    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Filter books" #searchInput />
      <button
        mat-button
        *ngIf="searchInput.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchInput.value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      [disabled]="actionButtonsDisabled"
      *ngIf="!editPressed"
      class="top-table-buttons"
      mat-raised-button
      color="primary"
      (click)="topTableButtonClicked('edit')"
    >
      Edit
    </button>
    <button
      [disabled]="actionButtonsDisabled"
      *ngIf="editPressed"
      class="top-table-buttons"
      mat-raised-button
      color="primary"
      (click)="topTableButtonClicked('save')"
    >
      Save
    </button>
    <button
      [disabled]="actionButtonsDisabled"
      *ngIf="editPressed"
      class="top-table-buttons"
      mat-raised-button
      color="warn"
      (click)="topTableButtonClicked('cancel')"
    >
      Cancel
    </button>
  </div>
  <div class="table-container mat-elevation-z8">
    <div class="spinner-wrapper" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <div class="no-data-wrapper" *ngIf="dataSource.noData$ | async">
      <span class="text"> No books to display </span>
    </div>
    <mat-table auto-column-width [dataSource]="dataSource">
      <ng-container *ngFor="let column of headerConfig">
        <ng-container [matColumnDef]="column.column_name">
          <mat-header-cell class="align-center" *matHeaderCellDef>
            <span
              #tooltip="matTooltip"
              [matTooltip]="column.field_name"
              [matTooltipPosition]="'above'"
              matTooltipHideDelay="100"
            >
              {{ column.field_name }}</span
            >
          </mat-header-cell>
          <mat-cell
            *matCellDef="let row"
            #tooltip="matTooltip"
            [matTooltip]="row[column.field_name]"
            [matTooltipPosition]="'right'"
            matTooltipHideDelay="100"
          >
            <ng-container *ngIf="column.type === COLUMN_TYPES.INDEX">
              <p>{{ row.lineNumber }}</p>
            </ng-container>

            <ng-container *ngIf="column.type === COLUMN_TYPES.IMAGE">
              <img
                class="book-image"
                width="50"
                height="50"
                [src]="row.imagePath"
                [alt]="row.title"
              />
            </ng-container>

            <ng-container *ngIf="column.type === COLUMN_TYPES.STRING">
              <ng-container *ngIf="editPressed">
                <mat-form-field>
                  <input
                    matInput
                    value="{{ row[column.column_name] }}"
                    [(ngModel)]="row[column.column_name]"
                    (change)="row.changed = true"
                    required
                  />
                </mat-form-field>
              </ng-container>
              <p *ngIf="!editPressed">
                {{ row[column.column_name] }}
              </p>
            </ng-container>

            <ng-container *ngIf="column.type === COLUMN_TYPES.DROPDOWN">
              <ng-container *ngIf="editPressed">
                <mat-select
                  [(value)]="row[column.column_name]"
                  (change)="row.changed = true"
                >
                  <mat-option
                    *ngFor="let bookCat of bookCategories"
                    [value]="bookCat"
                  >
                    {{ bookCat }}</mat-option
                  >
                </mat-select>
              </ng-container>
              <p *ngIf="!editPressed">
                {{ row[column.column_name] }}
              </p>
            </ng-container>

            <ng-container *ngIf="column.type === COLUMN_TYPES.BUTTON">
              <button
                mat-icon-button
                aria-label="Delete"
                matTooltip="Delete"
                [matTooltipPosition]="'right'"
                (click)="deleteRow(row.id)"
              >
                <span class="material-icons"> delete </span>
              </button>
            </ng-container>
          </mat-cell></ng-container
        >
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <mat-paginator
    class="paginator-wrapper"
    color="primary"
    [disabled]="dataSource.loading$ | async"
    [pageSize]="defaultPageSizeOptions.pageSize"
    [length]="dataSource.totalBooksLength"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
