<div class="book-list-wrapper">
  <div class="top-table-wrapper">
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter books"
        #input
      />
    </mat-form-field>
    <button
      [disabled]="actionButtonsDisabled"
      *ngIf="!editPressed"
      class="top-table-buttons"
      mat-raised-button
      color="primary"
      (click)="topTableButtonClicked('edit')"
    >
      Edit
    </button>
    <button
      [disabled]="actionButtonsDisabled"
      *ngIf="editPressed"
      class="top-table-buttons"
      mat-raised-button
      color="primary"
      (click)="topTableButtonClicked('save')"
    >
      Save
    </button>
    <button
      [disabled]="actionButtonsDisabled"
      *ngIf="editPressed"
      class="top-table-buttons"
      mat-raised-button
      color="warn"
      (click)="topTableButtonClicked('cancel')"
    >
      Cancel
    </button>
  </div>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="#">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        #
      </th>
      <td mat-cell *matCellDef="let element">{{ element.lineNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Image
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="book-image">
          <img
            width="50"
            height="50"
            [src]="element.imagePath"
            [alt]="element.title"
          />
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Title
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            [disabled]="!editPressed"
            [(ngModel)]="element.title"
            required
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Author
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            [disabled]="!editPressed"
            [(ngModel)]="element.title"
            required
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Category
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select [disabled]="!editPressed" [(value)]="element.category">
            <mat-option
              *ngFor="let bookCat of bookCategories"
              [value]="bookCat"
              >{{ bookCat }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Description
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <div *ngIf="editPressed; else inputBox">
            <textarea
              [style.height.px]="
                element.description.length
                  ? (element.description.length / 18 + 1) * 15
                  : 20
              "
              matInput
              [disabled]="!editPressed"
              [(ngModel)]="element.description"
              required
            ></textarea>
          </div>
          <ng-template #inputBox>
            <input
              matInput
              [disabled]="!editPressed"
              [(ngModel)]="element.description"
              required
            />
          </ng-template>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="tradingPreferenceAuthor">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Trading Author Preferences
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            placeholder=" {{
              !element.tradingPreferenceAuthor ? 'No author preferences' : ''
            }}"
            [disabled]="!this.editPressed"
            [(ngModel)]="element.tradingPreferenceAuthor"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="tradingPreferenceBook">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Trading Books Preferences
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            placeholder=" {{
              !element.tradingPreferenceBook ? 'No Book preferences' : ''
            }}"
            [disabled]="!this.editPressed"
            [(ngModel)]="element.tradingPreferenceBook"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="tradingPreferenceGenre">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Trading Genre Preferences
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            placeholder=" {{
              !element.tradingPreferenceGenre ? 'No Genre preferences' : ''
            }}"
            [disabled]="!this.editPressed"
            [(ngModel)]="element.tradingPreferenceGenre"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="tradingPreferenceDescription">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Trading Description Preference
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            placeholder=" {{
              !element.tradingPreferenceDescription
                ? 'No preferences Description'
                : ''
            }}"
            [disabled]="!this.editPressed"
            [(ngModel)]="element.tradingPreferenceDescription"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header>
        Delete
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="Delete"
          matTooltip="Delete"
          [matTooltipPosition]="'right'"
          (click)="deleteRow(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  <div
    class="no-filtered-data"
    *ngIf="dataSource.filteredData.length === 0 && filterValue.length !== 0"
  >
    No data for {{ input.value }}
  </div>
</div>
