table, mat-paginator {
  width: 90%;
  margin-left: 5%;
}

//textarea {
//  height: 100px;
//}

.header-text {
  font-size: 16px;
  line-height: 5;
}

.mat-header-row {
  background-color: #D4B5A5;
}

.filter {
  font-size: 14px;
  width: 20%;
}

.book-list-wrapper {
  height: 84vh;
  margin-top: 20px;
}

.top-table-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.top-table-buttons {
  height: 38px;
  margin-left: 20px;
}

.no-filtered-data {
  background-color: #CD4C4C;
  color: white;
  width: 50%;
  margin-left: 23%;
  padding: 19px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}
