<div class="book-list-wrapper">
  <div class="top-table-wrapper">
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter books" #input>
    </mat-form-field>
    <button [disabled]="editDisabled" *ngIf="!editPressed" class="top-table-buttons" mat-raised-button color="primary" (click)="topTableButtonClicked('edit')"> Edit </button>
    <button *ngIf="editPressed" class="top-table-buttons" mat-raised-button color="primary" (click)="topTableButtonClicked('save')"> Save </button>
    <button *ngIf="editPressed" class="top-table-buttons" mat-raised-button color="warn" (click)="topTableButtonClicked('cancel')"> Cancel </button>
  </div>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="#">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let element"> {{element.lineNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [disabled]="!editPressed" [(ngModel)]="element.title" required>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [disabled]="!editPressed" [(ngModel)]="element.category" required>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <div *ngIf="editPressed; else inputBox">
            <textarea [style.height.px]="element.description.length ?
                                        (element.description.length / 18 + 1) * 15 : 18"
                      matInput
                      [disabled]="!editPressed"
                      [(ngModel)]="element.description"
                      required></textarea>
          </div>
          <ng-template #inputBox>
            <input  matInput [disabled]="!editPressed" [(ngModel)]="element.description" required>
          </ng-template>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="tradingPreferenceList">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header> Trading Preference </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput placeholder=" {{ !element.tradingPreferenceList ? 'No preferences': '' }}" [disabled]="!this.editPressed" [(ngModel)]="element.tradingPreferenceList">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th class="header-text" mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
                aria-label="Delete"
                matTooltip="Delete"
                [matTooltipPosition]="'right'"
                (click)="deleteRow(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  <div class="no-filtered-data" *ngIf="dataSource.filteredData.length === 0 && filterValue.length !== 0">No data for {{ input.value }}</div>
</div>
