<mat-toolbar>
  <button
    mat-raised-button
    class="homepage_icon header_icon"
    (click)="onHomepageClick()"
    [disabled]="actionButtonsDisabled"
  >
    BookTrader
  </button>
  <span class="spacer"></span>

  <button
    mat-icon-button
    class="header_icon"
    aria-label="Notifications icon"
    matTooltip="Notifications"
    [disabled]="actionButtonsDisabled"
    [matTooltipPosition]="'below'"
    [matMenuTriggerFor]="appMenu"
  >
    <mat-icon
      matBadgeColor="warn"
      [matBadge]="unreadNotificationsNumber$ | async"
      [matBadgeHidden]="(unreadNotificationsNumber$ | async) === 0"
      >notifications</mat-icon
    >
  </button>

  <mat-menu #appMenu="matMenu" xPosition="before">
    <ng-template matMenuContent>
      <app-notification-menu></app-notification-menu>
    </ng-template>
  </mat-menu>

  <button
    mat-icon-button
    class="header_icon"
    aria-label="My account icon"
    matTooltip="My account"
    (click)="onProfileClick()"
    [disabled]="actionButtonsDisabled"
    [matTooltipPosition]="'below'"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <button
    mat-icon-button
    class="header_icon"
    aria-label="My books icon"
    matTooltip="My books"
    (click)="onMyBooksClick()"
    [disabled]="actionButtonsDisabled"
    [matTooltipPosition]="'below'"
  >
    <mat-icon>book</mat-icon>
  </button>

  <button
    mat-icon-button
    class="header_icon"
    aria-label="Logout icon"
    (click)="onLogoutClick()"
    matTooltip="Logout"
    [matTooltipPosition]="'below'"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
