<div class="form-container">
  <div class="formular">
    <form class="inputs" [formGroup]="form" enctype="multipart/form-data">
      <mat-hint class="reminder-delivery"
        >Keep in mind to change your delivery methods from the profile page ! (
        default is all delivery methods selected )</mat-hint
      >
      <mat-form-field appearance="outline">
        <mat-label>Book title</mat-label>
        <input
          matInput
          #bookTitle
          maxlength="30"
          type="text"
          formControlName="title"
          placeholder="Book Title"
        />
        <mat-error *ngIf="form.get('title').invalid"
          >Please enter a title</mat-error
        >
        <mat-hint align="end">{{ bookTitle.value.length }} / 30</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Book author</mat-label>
        <input
          matInput
          #bookAuthor
          maxlength="30"
          type="text"
          formControlName="author"
          placeholder="Book Author"
        />
        <mat-error *ngIf="form.get('author').invalid"
          >Please enter an author</mat-error
        >
        <mat-hint align="end">{{ bookAuthor.value.length }} / 30</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Book description</mat-label>
        <textarea
          matInput
          #bookDescription
          maxlength="100"
          class="description-trading-form"
          formControlName="description"
          placeholder="Book Description"
        ></textarea>
        <mat-error *ngIf="form.get('description').invalid"
          >Please enter a description</mat-error
        >
        <mat-hint align="end"
          >{{ bookDescription.value.length }} / 100</mat-hint
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Trading preference authors</mat-label>
        <input
          matInput
          type="text"
          formControlName="tradingPreferenceAuthor"
          placeholder="Trading preference author"
        />
        <mat-hint>* Separate by comma *</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Trading preference books</mat-label>
        <input
          matInput
          type="text"
          formControlName="tradingPreferenceBook"
          placeholder="Trading preference books"
        />
        <mat-hint>* Separate by comma *</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Trading preference genres</mat-label>
        <input
          matInput
          type="text"
          formControlName="tradingPreferenceGenre"
          placeholder="Trading preference genres"
        />
        <mat-hint>* Separate by comma *</mat-hint>
      </mat-form-field>
      <mat-form-field class="trading-preferences-details" appearance="outline">
        <mat-label>Trading preferences details</mat-label>
        <textarea
          matInput
          class="description-trading-form"
          formControlName="tradingPreferenceDescription"
          placeholder="Trading preferences details"
        ></textarea>
        <mat-hint
          >* This will be included in your book details in the homepage of other
          users. You can specify things like: e.g. I don't want a specific book
          to get in return or simply leave it empty</mat-hint
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Book category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of bookCategories"
            [value]="category"
            >{{ category }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="form.get('category').invalid"
          >Please select a category</mat-error
        >
      </mat-form-field>
      <button
        class="form-button"
        mat-stroked-button
        type="button"
        (click)="filePicker.click()"
      >
        Pick an image
      </button>
      <input
        type="file"
        #filePicker
        (change)="onImagePicked($event)"
        name="image"
      />
      <div
        class="image-preview"
        *ngIf="imagePreview && form.get('image').valid"
      >
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
      <mat-error *ngIf="form.get('image').value && form.get('image').invalid"
        >Invalid image format ( *.PNG, *.JPG )
      </mat-error>
      <mat-checkbox
        class="bottom-checkbox"
        color="primary"
        [(ngModel)]="addMultipleBooks"
        [ngModelOptions]="{ standalone: true }"
      >
        Add multiple books</mat-checkbox
      >
      <mat-checkbox
        class="bottom-checkbox"
        color="primary"
        [(ngModel)]="resetForm"
        [ngModelOptions]="{ standalone: true }"
      >
        Reset form</mat-checkbox
      >
      <button
        class="form-button"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onCreateBook()"
        [disabled]="createBookDisabled"
      >
        Add Book to your wonderful library
      </button>
    </form>
  </div>
</div>
