form mat-form-field {
  margin-bottom: 20px;
}

.form-container {
  height: 86vh;
}

.mat-form-field {
  font-size: 13px;
}

.description-form {
  height: 180px;
}

.trading-form {
  height: 130px;
}
