form  {
  width: 100%;
  mat-form-field {
    margin-bottom: 20px;
  }
}

.form-container {
  height: 86vh;
}

.formular {
  width: 40%;
}

.mat-form-field {
  font-size: 13px;
}

.description-form {
  height: 180px;
}

.trading-form {
  height: 130px;
}
