<mat-toolbar>
  <button mat-raised-button class="homepage_icon header_icon">Home Page</button>
  <span class="spacer"></span>

  <button mat-icon-button class="header_icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button class="header_icon" aria-label="Example icon-button with heart icon">
    <mat-icon>book</mat-icon>
  </button>

  <button mat-icon-button class="header_icon" aria-label="Example icon-button with heart icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
