<div class="trade-modal-header">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <span class="material-icons trade-cancel-icon" mat-dialog-close>
    cancel
  </span>
</div>

<h3 class="description" *ngIf="data.description">
  {{ data.description }}
</h3>
<mat-dialog-content *ngIf="data.isHomepage">
  <div class="card-wrapper">
    <div class="img-avatar"></div>
    <div class="card-text-book-image">
      <img class="book-image" [src]="book.imagePath" [alt]="book.title" />
      <div class="book-details-wrapper">
        <div class="title">
          <p>
            Book added by
            <span class="user-data">{{ book.username }}</span> from
            <span class="user-data">{{ book.location }}</span>
          </p>
        </div>
        <h2>Title: {{ book.title }}</h2>
        <div class="book-details">
          <p class="section-title">Description</p>
          {{ book.description }}
        </div>
        <div class="book-details" *ngIf="book.tradingPreferenceAuthor">
          <p class="section-title">Trading authors</p>
          {{ book.tradingPreferenceAuthor }}
        </div>
        <div class="book-details" *ngIf="book.tradingPreferenceBook">
          <p class="section-title">Trading books</p>
          {{ book.tradingPreferenceBook }}
        </div>
        <div class="book-details" *ngIf="book.tradingPreferenceDescription">
          <p class="section-title">Trading description</p>
          {{ book.tradingPreferenceDescription }}
        </div>
        <div class="book-details" *ngIf="book.tradingPreferenceGenre">
          <p class="section-title">Trading genres</p>
          {{ book.tradingPreferenceGenre }}
        </div>
        <p class="section-title">Choose an option for delivery</p>
        <div class="actions">
          <mat-radio-group color="primary" [required]="true">
            <div class="delivery-section">
              <p>Different town</p>
              <mat-radio-button
                [checked]="false"
                value="differentTownConfig-courier"
                (change)="selectedConfig = $event.value"
                [disabled]="!differentTownConfig.courier"
              >
                Courier
              </mat-radio-button>
            </div>
            <div class="delivery-section">
              <p>Same town</p>
              <mat-radio-button
                [checked]="false"
                value="sameTownConfig-courier"
                (change)="selectedConfig = $event.value"
                [disabled]="!sameTownConfig.courier"
              >
                Courier
              </mat-radio-button>
              <mat-radio-button
                [checked]="false"
                value="sameTownConfig-onFoot"
                (change)="selectedConfig = $event.value"
                [disabled]="!sameTownConfig.onFoot"
              >
                Personal delivery
              </mat-radio-button>
            </div>
          </mat-radio-group>

          <mat-form-field appearance="fill" *ngIf="userBooks.length">
            <mat-label>Select book for trade</mat-label>
            <mat-select [required]="true" [(ngModel)]="selectedBook">
              <mat-option *ngFor="let book of userBooks" [value]="book">
                {{ book.title }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!selectedBook"
              >Please select a book in order to trade</mat-error
            >
          </mat-form-field>
          <h3 *ngIf="!userBooks.length">
            No books in your library to select from
          </h3>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions *ngIf="data.actionButton">
  <div class="buttons-wrapper">
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="dataOnClose"
      [disabled]="tradeButtonDisabled"
    >
      {{ data.actionButton }}
    </button>
  </div>
</div>
