<div class="wrapper">
  <app-header></app-header>
  <div class="backdrop" *ngIf="loading$ | async"></div>
  <mat-spinner *ngIf="loading$ | async"></mat-spinner>
  <ng-container *ngIf="bookCategories?.length && (loading$ | async) === false">
    <section *ngFor="let category of bookCategories">
      <div class="mat-title">{{ category }}</div>
      <div class="card-row-wrapper" #bookCategory>
        <mat-card *ngFor="let book of booksByCategory(category)">
          <mat-card-header>
            <div mat-card-avatar class="profile-pic"></div>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book.username }} </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="book.imagePath" [alt]="book.title" />
          <mat-card-content>
            <p>{{ book.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-stroked-button
              color="primary"
              (click)="openBookDetails(book)"
              [disabled]="book.hidden"
            >
              Book Details
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <button
        mat-button
        (click)="onPrevious(bookCategory, category)"
        [disabled]="this.navigationButtonsStatuses[category]['previous']"
      >
        Previous
      </button>
      <button
        mat-button
        (click)="onNext(bookCategory, category)"
        [disabled]="this.navigationButtonsStatuses[category]['next']"
      >
        Next
      </button>
    </section>
  </ng-container>

  <ng-container *ngIf="!bookCategories.length">
    <div class="empty-wrapper"></div>
  </ng-container>

  <!-- <button
    mat-icon-button
    aria-label="Notifications icon"
    matTooltip="Check notifications"
    [matTooltipPosition]="'before'"
  >
    <mat-icon>notification_important</mat-icon>
  </button> -->
</div>
