.wrapper {
  height: 100%;
  background: #d4e5eb;

  .empty-wrapper {
    background: inherit;
    height: 100vh;
  }

  section {
    margin-inline: 55px;
    overflow-x: auto;

    .mat-title {
      margin: 20px;
    }

    .card-row-wrapper {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow: hidden;

      mat-card {
        max-width: 248px;
        margin: 20px;

        .example-header-image {
          background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
          background-size: cover;
        }

        mat-card-title {
          font-size: 15px;
        }

        mat-card-subtitle {
          font-size: 10px;
        }
      }
    }
  }
}
