:host {
  ::ng-deep {
    .wrapper {
      min-height: 100vh;
      height: 100%;
      background: #d4e5eb;

      .empty-wrapper {
        background: inherit;
        height: 100vh;
      }

      section {
        margin-inline: 55px;
        overflow-x: auto;

        .mat-title {
          margin: 20px;
        }

        .card-row-wrapper {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          overflow: hidden;

          mat-card {
            max-width: 248px;
            margin: 20px;

            .profile-pic {
              background-image: url("http://localhost:3000/images/profile-pic.jpg");
              background-size: cover;
            }

            .mat-card-image {
              object-fit: contain;
              max-width: 240px;
              max-height: 140px;
            }

            .mat-card-header-text {
              max-width: 170px;
            }

            mat-card-title {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 15px;
            }

            mat-card-subtitle {
              font-size: 10px;
            }

            mat-card-content {
              height: 100px;
              overflow: hidden;

              p {
                position: relative;
                height: 3.6em;

                &:after {
                  content: "";
                  text-align: right;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 70%;
                  height: 1.2em;
                  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
                }
              }
            }

            mat-card-actions {
              text-align: center;
            }
          }
        }
      }
    }

  }
}
