<div class="history-wrapper">
  <h1>Trade history</h1>
  <mat-card *ngFor="let userTrade of tradeHistoryForUser$ | async">
    Your trade:
    <span class="highlighted">{{ userTrade.tradedBookTitle }}</span> for
    <span class="highlighted">{{ userTrade.tradedWithBookTitle }}</span> is
    <span class="highlighted">{{ userTrade.status.toLowerCase() }}</span
    >.
    <br />
    <ng-container *ngIf="showCompleteActionButton(userTrade)">
      You can find the other user at
      <span class="highlighted">{{ userTrade.toPhoneNumber }}</span
      >.
    </ng-container>
    <div class="trade-button-wrapper">
      <button
        mat-button
        color="primary"
        (click)="handleTrade(userTrade, TRADE_STATUSES.COMPLETED)"
        *ngIf="showCompleteActionButton(userTrade)"
      >
        Complete
      </button>
      <button
        mat-button
        color="primary"
        (click)="handleTrade(userTrade, TRADE_STATUSES.CANCELED)"
        *ngIf="showCancelActionButton(userTrade)"
      >
        Cancel
      </button>
    </div>
  </mat-card>
  <p *ngIf="(tradeHistoryForUser$ | async).length === 0">
    No Trades were made !
  </p>
</div>
