<div class="history-wrapper">
  <h1>Trade history</h1>
  <mat-card *ngFor="let userTrade of allTradesForUser$ | async">
    Your trade:
    <span class="highlighted">{{ userTrade.tradedWithBookTitle }}</span> for
    <span class="highlighted">{{ userTrade.tradedBookTitle }}</span> is
    <span class="highlighted">{{ userTrade.status.toLowerCase() }}</span
    >.
    <!--    <ng-container *ngIf="userTrade.status === TRADE_STATUSES.IN_PROGRESS">-->
    <!--      You can find the other user by calling at <span class="highlighted"></span>-->
    <!--    </ng-container>-->
    <div class="trade-button-wrapper">
      <button
        mat-button
        color="primary"
        (click)="handleTrade(userTrade, TRADE_STATUSES.COMPLETED)"
      >
        Complete
      </button>
      <button
        mat-button
        color="primary"
        (click)="handleTrade(userTrade, TRADE_STATUSES.CANCELED)"
      >
        Cancel
      </button>
    </div>
  </mat-card>
  <p *ngIf="(allTradesForUser$ | async).length === 0">No Trades were made !</p>
</div>
