<div class="notifications-menu-wrapper" (click)="$event.stopPropagation()">
  <div class="notifications-buttons-wrapper">
    <button
      mat-button
      aria-label="Mark all as read"
      (click)="markAllNotificationsAsRead()"
      [disabled]="(trades$ | async)?.length === 0"
    >
      <mat-icon>done_all</mat-icon>
      Mark all as read
    </button>
    <button
      mat-button
      color="warn"
      aria-label="Delete all"
      [disabled]="(trades$ | async)?.length === 0"
      (click)="deleteAllNotifications()"
    >
      <mat-icon>delete</mat-icon>
      Delete all
    </button>
  </div>
  <mat-card *ngFor="let trade of trades$ | async">
    <ng-container *ngIf="!trade.rejected && !trade.accepted">
      User <span class="highlighted">{{ trade.fromUser }}</span> wants to trade
      your book
      <span class="highlighted">{{ trade.tradedBookTitle }}</span> with
      <span class="highlighted">{{ trade.tradedWithBookTitle }}</span>
      <div class="trade-button-wrapper">
        <button
          mat-button
          color="primary"
          (click)="handleTrade(trade, 'accept')"
        >
          Accept Trade
        </button>
        <button mat-button color="warn" (click)="handleTrade(trade, 'reject')">
          Reject Trade
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="showNotificationInformation(trade)"
          matTooltip="Show delivery information wanted by {{ trade.fromUser }}"
          [matTooltipHideDelay]="400"
        >
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="trade.accepted || trade.rejected">
      User <span class="highlighted">{{ trade.toUser }}</span>
      {{ trade.accepted ? "accepted" : "rejected" }} your trade offer for
      <span class="highlighted">{{ trade.tradedBookTitle }}</span> book with
      <span class="highlighted">{{ trade.tradedWithBookTitle }}</span>
    </ng-container>
  </mat-card>
</div>
