<div class="notifications-menu-wrapper" (click)="$event.stopPropagation()">
  <div class="notifications-buttons-wrapper">
    <button
      mat-button
      aria-label="Mark all as read"
      (click)="markAllNotificationsAsRead()"
      [disabled]="(userTrades$ | async)?.length === 0"
    >
      <mat-icon>done_all</mat-icon>
      Mark all as read
    </button>
    <button
      mat-button
      color="warn"
      aria-label="Delete all"
      [disabled]="(userTrades$ | async)?.length === 0"
      (click)="deleteAllNotifications()"
    >
      <mat-icon>delete</mat-icon>
      Delete all
    </button>
  </div>
  <mat-card *ngFor="let userTrade of userTrades$ | async">
    <ng-container *ngIf="userTrade.status === TRADE_STATUSES.PENDING">
      User <span class="highlighted">{{ userTrade.fromUser }}</span> wants to
      trade your book
      <span class="highlighted">{{ userTrade.tradedBookTitle }}</span> with
      <span class="highlighted">{{ userTrade.tradedWithBookTitle }}</span>
      <div class="trade-button-wrapper">
        <button
          mat-button
          color="primary"
          (click)="handleTrade(userTrade, TRADE_STATUSES.IN_PROGRESS)"
        >
          Accept Trade
        </button>
        <button
          mat-button
          color="warn"
          (click)="handleTrade(userTrade, TRADE_STATUSES.REJECTED)"
        >
          Reject Trade
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="showNotificationInformation(userTrade)"
          matTooltip="Show delivery information wanted by {{
            userTrade.fromUser
          }}"
          [matTooltipHideDelay]="400"
        >
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="showRejectedInProgress(userTrade)">
      User <span class="highlighted">{{ userTrade.toUser }}</span>
      {{ getMessageForRejectedInProgress(userTrade) }} your trade offer for
      <span class="highlighted">{{ userTrade.tradedBookTitle }}</span> book with
      <span class="highlighted">{{ userTrade.tradedWithBookTitle }}</span>
    </ng-container>
  </mat-card>
</div>
