<div class="notifications-menu-wrapper" (click)="$event.stopPropagation()">
  <mat-spinner
    *ngIf="loading$ | async"
    strokeWidth="4"
    [diameter]="60"
  ></mat-spinner>
  <div
    class="notifications-buttons-wrapper"
    *ngIf="(loading$ | async) === false"
  >
    <button
      mat-button
      aria-label="Mark all as read"
      (click)="markAllNotificationsAsRead()"
    >
      <mat-icon>done_all</mat-icon>
      Mark all as read
    </button>
    <button
      mat-button
      color="warn"
      aria-label="Delete all"
      (click)="deleteAllNotifications()"
    >
      <mat-icon>delete</mat-icon>
      Delete all
    </button>
  </div>
  <mat-card *ngFor="let trade of trades$ | async">
    User {{ trade.fromUser }} wants to trade your book
    {{ trade.bookTitle }} with (other user's book)
    <button mat-button color="primary">Accept Trade</button>
    <button mat-button color="warn">Reject Trade</button>
  </mat-card>
</div>
