/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";
@import "~@angular/material/theming";

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.is-active {
  text-decoration: underline;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .auth-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
  }

  .auth-image {
    width: 300px;
    height: 180px;
    border-radius: 10%;
  }

  .formular {
    background: white;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    .inputs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .email-form {
        margin-bottom: 10px;
      }

      .password-form {
        margin-bottom: 30px;
      }

      .sign-up-link {
        margin-top: 30px;
      }

      .location-form {
        margin-bottom: 30px;
      }
    }
  }
}

.auth-form-container {
  background: linear-gradient(
    164deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(195, 196, 139, 1) 69%,
    rgba(128, 128, 128, 1) 81%,
    rgba(101, 101, 101, 1) 96%,
    rgba(94, 94, 94, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

mat-spinner {
  z-index: 10;
  margin: auto;
  top: 35vh;
}
