/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(-135deg,#c850c0,#4158d0);
}

.is-active {
  text-decoration: underline;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .formular {
    background: white;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    .inputs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
