/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    164deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(195, 196, 139, 1) 69%,
    rgba(128, 128, 128, 1) 81%,
    rgba(101, 101, 101, 1) 96%,
    rgba(94, 94, 94, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}

.is-active {
  text-decoration: underline;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .auth-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
  }

  .auth-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  .formular {
    background: white;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    .inputs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
