.form-container {
  .formular {
    .inputs {
      .email-form {
        margin-bottom: 10px;
      }

      .password-form {
        margin-bottom: 30px;
      }

      .sign-up-link {
        margin-top: 30px;
      }
    }
  }

  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  .login-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
  }
}

